.main {
  object-fit: cover;
  background-image: url("../../assets/services_background.jpg");
  background-size: 100% 100vh, auto;
  background-repeat: no-repeat;
  background-position: 50% 50%, 0px 0px;
  background-attachment: scroll, scroll;
  width: 100%;
  height: 100vh;
}

.contents_block {
  margin: 0 auto;
  width: 50%;
  height: 70vh;
  background-color: rgba(56, 46, 162, 0.27);
  box-shadow: 0 0 9px -2px rgb(0 0 0 / 78%);
  display: flex;
  flex-direction: column;
  h3 {
    text-align: center;
    color: white;
  }
  p {
    text-align: center;
    color: white;
  }
}

.wrapper {
  width: 100%;
  height: 100%;
  padding-top: 65px;
}
